img {
  max-width: 100%;
  height: auto;
}
body {
  padding: 1em;
}


/* main "container" control */
#mainHeader,#mainContent {
  max-width: 1000px;
  margin: 0 auto;
}

#mainHeader {

}
#siteTitle {
  font-size: 3em;
}

#mainContent {
  display: grid;

}